/Rating2/build/
/Rating2/dist/
/Rating2/nbproject/private/
/Rating_1/nbproject/private/
/CreateProfile/WebApplication1/dist/
CreateProfile/WebApplication1/build/web/WEB-INF/classes/servlets/addNewCustomer.class
/BillingSystem/build/
/BillingSystem/dist/
BillingSystem/nbproject/private/private.xml
