body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
        .bgimg {
            background-image: url('/BillingSystem/Styling/images/bg.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
        .btn1 {
            position: absolute;
            top: 70%;
            left: 30%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #f1f1f1;
            color: black;
            font-size: 16px;
            padding: 16px 30px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .btn1:hover {
            background-color: orange;
            color: white;
        }
        .btn2 {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #f1f1f1;
            color: black;
            font-size: 16px;
            padding: 16px 30px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .btn2:hover {
            background-color: orange;
            color: white;
        }
        .btn3 {
            position: absolute;
            top: 70%;
            left: 70%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #f1f1f1;
            color: black;
            font-size: 16px;
            padding: 16px 30px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
        }

        .btn3:hover {
            background-color: orange;
            color: white;
        }
        h2{
            position: absolute;
            top: 40%;
            left: 40%;
        }